{% load static %}


<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">

  {% block style %}
  <link rel="stylesheet" type="text/css" href="{% static 'main/styles/main.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'main/styles/form.css' %}">
  {% endblock %}

  {% block scripts %}
  <script type="text/javascript" src="{% static 'main/scripts/jquery-3.6.0.min.js' %}"></script>
  <script src="{% static 'main/scripts/main.js' %}" charset="utf-8"></script>
  {% endblock %}
  
  {% block title %}
  <title>Claim Profiler</title>
  {% endblock %}
</head>
<body>
  <header>
    {% block nav %}
    <nav>
      <div class="nav-list">
        <span><a href="https://linkedin.com/in/banjokojudah">Linkedin</a></span>
        <span><a href="https://github.com/judahsemi/claim-profiler">Github</a></span>
      </div>
    </nav>
    </section>
    {% endblock %}

    {% block header %}
    {% endblock %}
  </header>
  

  <main>
    {% block content %}
    <section class="container">
      <div class="header-content">
        <h2>Claim Profiler</h2>
      </div>
    </section>

    <section class="form-container">
      <form class="form-content" action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}

        <p>
          <label for="text">Text</label>
          <textarea name="text" id="form-field-text" autofocus></textarea>
        </p>
        <p>
          <label for="url">URL</label>
          <input type="url" name="url" id="form-field-url">
        </p>
        <p>
          <label for="file">File</label>
          <input type="file" name="file" id="form-field-file">
        </p>

        <div class="action">
          <span></span>
          <button type="submit">Profile</button>
        </div>
      </form>
    </section>

    <section class="container">
      <div class="header-content hidden">
        <h2>Details</h2>
        <span class="clear-text" onclick="clearRightScreen();">clear</span>
      </div>
    </section>

    <section class="container">
      <div class="h-content hidden">
        <div class="left-screen">
          <span><b>Original text</b></span>
          <p id="query-text"></p>
        </div>

        <div class="right-screen">
          <span class="hidden"><b>Claim</b></span>
          <p id="selected-claim-text" class="hidden"></p>

          <span class="hidden"><b>Mentioned evidence</b></span>
          <ul class="evidence-list hidden"></ul>
        </div>
      </div>
    </section>
    {% endblock %}
  </main>


  <footer>
    {% block footer %}
    {% endblock %}
  </footer>
</body>
</html>

